<div class="center hero-unit">
  <h1>Juanna.net</h1>
  <h2>Already have an account? <%= link_to "Sign in.", signin_path %></h2>
  <%= link_to "Register now!", register_path, class: "btn btn-large btn-primary" %>
</div>
